<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{{/* */}}
Name : {{.Name}} <br/>

{{/* memanggil penggunaan nested struct tanpa with */}}
<h1>Address Street : {{.Address.Street}}</h1>

{{/* memanggil penggunaan nested struct with */}}
{{with .Address}}
Address Street : {{.Street}} <br/>
Address City : {{.City}} <br/>
{{else}}
<h1> Anda tidak memiliki alamat </h1>
{{end}}
</body>
</html>